.popup__add-button {
  width: 358px;
  height: 50px;
  border: 0;
  margin: 0 auto;
  padding: 0;
  display: block;
  cursor: pointer;
  transition: opacity .4s;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000;
  border-radius: 2px;
}

.popup__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .popup__add-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
